@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 110%;
  right: 50%;
  transform: translateX(50%);
  background-color: #38a169; 
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background-color: #1f2937;
  transform: rotate(45deg);
}
